* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.logo {
  height: 70px;
  float: left;
}
.nav {
  height: 70px;
  list-style: none;
  display: flex;
  align-items: center;
  float: right;
}
.nav-list {
  font-size: 16px;
  margin: 0 30px;
}
.nav-list a {
  color: #fafafa;
}
#mv {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.mv-main {
  width: 100%;
  padding-top: 200px;
}
.mv-heading {
  color: #fafafa;
  font-size: 64px;
  margin: 0 auto;
}
.mv-text {
  color: #fafafa;
  font-size: 20px;
  margin: 10px auto;
}
#portfolio {
  background-color: #eceff1;
}
.pf-container {
  margin: 0 auto;
  width: 920px;
  text-align: center;
}
.pf-heading {
  color: #000;
  font-size: 32px;
  padding: 90px 0 8px 0;
}
.pf-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 0 auto;
  background-color: #ec715f;
}
.pf-text {
  color: #000;
  font-size: 16px;
  padding: 30px 0;
}
