* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.logo {
  height: 70px;
  float: left;
}
.nav {
  height: 70px;
  list-style: none;
  display: flex;
  align-items: center;
  float: right;
}
.nav-list {
  font-size: 16px;
  margin: 0 30px;
}
.nav-list a {
  color: #fafafa;
}
#mv {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.mv-main {
  width: 100%;
  padding-top: 200px;
}
.mv-heading {
  color: #fafafa;
  font-size: 64px;
  margin: 0 auto;
}
.mv-text {
  color: #fafafa;
  font-size: 20px;
  margin: 10px auto;
}
