* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}
.header {
  width: 1024px;
  margin: 0 auto;
}
.logo {
  height: 70px;
  float: left;
}
.nav {
  height: 70px;
  list-style: none;
  display: flex;
  align-items: center;
  float: right;
}
.nav-list {
  font-size: 16px;
  margin: 0 30px;
}
.nav-list a {
  color: #fafafa;
}
#mv {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.mv-heading {
  color: #fafafa;
  font-size: 64px;
  margin: 0 auto;
  padding-top: 200px;
}
.mv-text {
  color: #fafafa;
  font-size: 20px;
  margin: 10px auto;
}
#portfolio,
#profile {
  background-color: #eceff1;
}
.container {
  width: 1024px;
  margin: 0 auto;
  padding: 90px 0;
  text-align: center;
}
.heading {
  color: #000;
  font-size: 32px;
}
.heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}
.text {
  color: #000;
  font-size: 16px;
}
.heading-text {
  padding: 30px 0;
}
.pf-img-container {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.pf-img {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin: 0 10px 10px 0;
}
.bg-1 {
  background-image: url(img/sketch.jpg);
}
.bg-2 {
  background-image: url(img/websuku.png);
}
.bg-3 {
  background-image: url(img/write.jpg);
}
.bg-4 {
  background-image: url(img/webcamp.png);
}
.bg-5 {
  background-image: url(img/talk.jpg);
}
.bg-6 {
  background-image: url(img/webcamp-mother.png);
}
.pf-img:nth-child(3n) {
  margin-right: 0;
}
.pf-img:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.f-container {
  width: 980px;
  margin: 0 auto;
  display: flex;
}
.strength-container {
  width: 320px;
  margin-right: 10px;
  text-align: center;
}
.strength-container:last-child {
  margin-right: 0;
}
.fas {
  font-size: 60px;
}
.topic {
  font-size: 20px;
  color: #000;
}
.s-topic {
  margin: 10px;
}
.s-text {
  text-align: left;
}
.p-container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}
.face-img-box {
  width: 512px;
}
.face-img {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
}
.p-text-box {
  width: 512px;
  text-align: left;
}
.p-topic,
.c-topic {
  margin-bottom: 5px;
}
.p-text {
  margin-bottom: 20px;
}
.c-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
}
.info-box-container {
  width: 400px;
  margin: 0 auto;
}
.info-box {
  width: 130px;
  margin: 0 auto;
  text-align: left;
}
.link-text {
  text-decoration: underline;
}
.c-topic2 {
  padding-top: 20px;
}
.sns-box-container {
  width: 400px;
  margin: 0 auto;
}
.sns-box {
  width: 190px;
  margin: 0 auto;
  text-align: left;
}
.c-icon {
  font-size: 50px;
  margin-right: 20px;
}
.c-icon:last-child {
  margin-right: 0;
}
footer {
  height: 60px;
  background-color: #ec715f;
  line-height: 60px;
}
.footer-text {
  color: #fafafa;
  font-size: 16px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header,
  .container {
    width: 90%;
  }
  header {
    height: 50px;
  }
  .logo {
    height: 50px;
  }
  .nav {
    display: none;
  }
  .btn {
    float: right;
    width: 40px;
    height: 40px;
    margin: 5px 0;
    border: 1px solid #fafafa;
  }
  .btn-line {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #fafafa;
  }
  .btn-line:first-child {
    margin-top: 10px;
  }
}
